<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>
<body>
    {% include 'base/navbar.html' %}
    <!-- navbar place -->
    {% block content %}
    <!-- content goes here -->
    {% endblock content%}
    <script type="text/javascript" async charset="utf8" src="{% static 'js/javascript.js' %}"></script>
</body>
</html>